@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import "fonts";
@import "color";
@import "misc";
/* Mixin */
@mixin size($alto, $ancho) {
    width: $ancho;
    height: $alto;
}
/* Map-Get */
$estilos: (
    centro: center,
    tFuente: 1.7rem,
    borRad: 10px,
);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
.anuncio-header {
    background-color: $azul-egipcio;
    text-align: center;
    p {
        color: $plateado;
        text-align: map-get($map: $estilos, $key: centro );
        font-size: 1.3rem;
        a {
            text-decoration: $dN;
            color: $plateado;
        }
    }
}

.navitem {
    text-decoration: $dN;
    font-size: map-get($map: $estilos, $key: tFuente );
    margin: 20px;
    color: $black;
    background-color: white;
}
.azul-egipcio {
    color: $azul-egipcio;
    font-weight: 600;
}
.color-gris {
    color: $plateado;
}
.logo {
    /* width: 100px; */
    @include size(100%, 80px);
}
.btn-nav {
    color: $plateado;
    background-color: $azul-egipcio;
}
.subtitulo {
    background-color: $azul-egipcio;
    color: $plateado;
    text-align: map-get($map: $estilos, $key: centro );
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: $plateado;
    background-color: $azul-egipcio;
    background-size: 100%, 100%;
    border: 1px solid black;
}
h1, h2 {
    text-align: map-get($map: $estilos, $key: centro );
    font-size: map-get($map: $estilos, $key: tFuente );
}
.card {
    margin: 20px 30px;
}
.productos-img {
    border-radius: map-get($map: $estilos, $key: borRad );
}
.productos-img:hover{
transform: scale(1.05);
}
.boton-productos {
    color: $plateado;
    font-weight: 600;
    background-color: $azul-egipcio;
    font-size: map-get($map: $estilos, $key: tFuente );
    border-radius: map-get($map: $estilos, $key: borRad );
}
.boton-productos:hover{
    transform: scale(1.2);
}
.div-centrada {
    display: $df;
    justify-content: map-get($map: $estilos, $key: centro );
}
.subtitulo-footer {
    background-color: $azul-egipcio;
    color: $plateado;
    text-align: map-get($map: $estilos, $key: centro );
    text-align: map-get($map: $estilos, $key: centro );
    font-size: map-get($map: $estilos, $key: tFuente );
}
.icono-footer {
    /* width: 100px; */
    @include size(100%, 100px);
}
.redes {
    font-size: map-get($map: $estilos, $key: tFuente );
    display: $df;
    justify-content: space-around;
    align-items: map-get($map: $estilos, $key: centro );
    padding-bottom: 30px;
}
footer {
    background-color: $azul-egipcio;
        div ul {
            list-style: $dN;
            a {
                text-decoration: $dN;
                color: $plateado;
            }
        }
}
@media (min-width: 480px) {
    h1, h2 {
        font-size: map-get($map: $estilos, $key: tFuente );
    }
    .boton-productos {
        font-size: map-get($map: $estilos, $key: tFuente );
    }
    .footer-flex {
        display: $df;
        justify-content: space-evenly;
    }
    
}
@media (min-width: 768px) {
    h1,h2 {
        font-size: map-get($map: $estilos, $key: tFuente );
    }
    #producto-1 {
        grid-area: producto-1;
    }
    #producto-2 {
        grid-area: producto-2;
    }
    #producto-3 {
        grid-area: producto-3;
    }
    #producto-4 {
        grid-area: producto-4;
    }
    .grid-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "producto-1 producto-2" "producto-3 producto-4";
    }
}
@media (min-width: 1025px) {
    #newsletter {
        grid-area: newsletter;
    }
    #mas-info {
        grid-area: mas-info;
    }
    #contacto {
        grid-area: contacto;
    }
    
    .final {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3);
        grid-template-areas: "newsletter mas-info contacto";
        background-color: $azul-egipcio;
        color: $plateado;
        font-size: 1.25rem;
    }
    footer section div ul li a {
        text-decoration: $dN;
        color: $plateado;
    }
    .redes {
        margin: 25px;
        display: $df;
        justify-content: space-evenly;
    }
@media (min-width: 1200px) {
    .navitem {
        font-size: map-get($map: $estilos, $key: tFuente );
    }
    .boton-productos{
        font-size: map-get($map: $estilos, $key: tFuente );
    }
    h1,h2 {
        font-size: map-get($map: $estilos, $key: tFuente );
    }
.grid-productos {
    display: $df;
    justify-content: space-around;
    }
}
}
/* Tienda Online */
.lista-productos {
    list-style: none;
    
}
.item-productos {
    font-size: 1.7rem;
}


/* Envios */
.card-header {
    font-size: 1.8rem;
}
/* Sucursales */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left: 0px;
    top: 10px;
    height:100%;
    width:100%;
    position:absolute;
}
/* Contacto */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: vertical
}


input[type=submit] {
    background-color: $azul-egipcio;
    color: $plateado;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    transform: scale(1.1);
}
.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}